.spot-list {
  width: 100%;
  margin: 1rem 0;

  &__settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 760px) {
  .spot-list {
    width: 100%;
    margin: 1rem 0;

    &__settings {
      flex-direction: row;
    }
  }
}
